$primary-color: #6f42c1; // primary purple
$secondary-color: #ffffff;
$error-color: #e3342f;
$input-bg-color: #f9f9f9;
$input-border-color: #ddd;
$button-bg-color: #6f42c1;
$button-bg-hover: darken($button-bg-color, 10%);
$form-bg-color: rgba(0, 0, 0, 0.8);

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../../../assets/logo.png") no-repeat center center fixed;
  background-size: cover;
}

.login-form {
  background-color: $form-bg-color;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;

  label {
    color: $secondary-color;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
  }

  input {
    width: 100%;
    padding: 10px;
    background-color: $input-bg-color;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    font-size: 14px;
  }
}

button {
  width: 100%;
  padding: 12px;
  background-color: $button-bg-color;
  color: $secondary-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: $button-bg-hover;
  }
}

.error-message {
  color: $error-color;
  margin-top: 15px;
  font-size: 12px;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
