.order-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
}

.order-detail {
  margin-left: 20px;
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #232f3e;
  padding: 10px;
  margin-bottom: 2%;
}
.logo {
  height: 1%;
}
.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.nav-links a:hover {
  text-decoration: underline;
}
nav a,
.link-button {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;

  &:hover {
    background-color: #555;
  }
}
